<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success">New Recipe</button>
  </div>
</div>
<br>
<div class="row">
  <div class="col-xs-12">
    <div class="list-group clearfix" >
      <a href="#" class="list-group-item  list-group-item-action" *ngFor="let recipe of recipes">
        <div class="float-start">
          <h4>{{recipe.name}}</h4>
          <p>{{recipe.description}}</p>
        </div>
        <span class="float-end">
          <img class="img-fluid" style="max-height: 60px;" [src]="recipe.imagePath" alt="{{recipe.name}}">
        </span>
      </a>
    </div>
    <app-recipe-item></app-recipe-item>
  </div>
</div>

